body {
  font-family: 'Mulish';
}
.logo-home {
  width: 220px;
}
.logo-appBar {
  width: 120px;
}
.MuiButton-containedPrimary,
.MuiButton-text {
  border-radius: 20px !important;
}
.MuiButton-containedPrimary .MuiButton-label,
.MuiButton-text .MuiButton-label {
  text-transform: none !important;
}
.MuiSvgIcon-fontSizeSmall {
  top: 5px;
  position: relative;
}

.inputChip .MuiChip-sizeSmall {
  margin-top: 7px
}